[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/imgui"]
	path = lib/imgui
	url = git@github.com:ocornut/imgui.git
	url = https://github.com/glfw/glfw
[submodule "lib/glm"]
	path = lib/glm
	url = git@github.com:g-truc/glm.git
